/* style.css */
body {
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Poppins', sans-serif; /* Fonte amigável */
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

h1 {
    text-align: center;
    color: #FFC107; /* Amarelo vibrante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 2.5em; /* Tamanho ajustado */
    margin-bottom: 20px; /* Add some space below the title */
}

a {
    color: rgb(86, 19, 209);
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
    color: white;
}

#corpo {
    display: flex;
    flex-direction: column;
    width: 700px; /* Largura do painel */
    height: 500px; /* Altura do painel */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto semi-transparente */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    box-sizing: border-box
